  

  
  .productoSinStock {
    color: red;
  }
  #productos{
    margin-bottom: 15px;
  }
  .navbar{
    color: white;
    font-weight: 800;

  }
  .form-control {
    width: 300px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
  .nombreProducto {
    color: red;
  }
  
  img {
    width: 250px;
    height: 250px;
  }
  
  #carrito {
    width: 500px;
    min-height: 100px;
    border: 1px solid black;
  }
  
  .itemCarrito {
    display: flex;
  }
  .imgCarrito {
    width:40px;
    height:40px;
  }

  .itemCarrito h4 {
    margin: 0 5px;
  }