*{
  margin:0;
  padding: 0;
}

.card {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}  
.producto-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.producto-image {
  height: 300px;
  width: 100%;
}

.producto-detalles {
/*   display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 0px 0px 0px;
}

.producto-detalles > .producto-precio {
  margin: 0;
}
  
  .productoSinStock {
    color: red;
  }
  #productos{
    margin-bottom: 15px;
  }
  .navbar{
    z-index:999;
    margin:0 auto;
    border-bottom:1px solid #dadada;
    width:100%;
    position:fixed;
    top:0;
    right:0;
    color: blanchedalmond;
    font-size: 28px;
  }

  #filtrarCategoria{
    margin-top: 70px;
  }
  .form-control {
    width: 300px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
  .nombreProducto {
    color: red;
  }
#botonesCat{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
  
  .itemCarrito {
    display: flex;
  }
  .imgCarrito {
    width:40px;
    height:40px;
  }

  .itemCarrito h4 {
    margin: 0 5px;
  }


