*{
  margin:0;
  padding: 0;
}

.card {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}  
.producto-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.producto-image {
  height: 300px;
  width: 100%;
}

.producto-detalles {
/*   display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 0px 0px 0px;
}

.producto-detalles > .producto-precio {
  margin: 0;
}
  
  .productoSinStock {
    color: red;
  }
  #productos{
    margin-bottom: 15px;
  }
  .navbar{
    color: white;
    font-weight: 800;

  }
  .form-control {
    width: 300px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
  .nombreProducto {
    color: red;
  }
#botonesCat{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

  #carrito {
    width: 500px;
    min-height: 100px;
    border: 1px solid black;
  }
  
  .itemCarrito {
    display: flex;
  }
  .imgCarrito {
    width:40px;
    height:40px;
  }

  .itemCarrito h4 {
    margin: 0 5px;
  }









  .shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
  